* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.hidden {
    display: none;
}

/* ****** POLIGEN ***** */
.polygen {
    display: none;
}
/* ****** POLIGEN ***** */

body {
    font-family: 'Roboto', sans-serif;
}

/* WEBKIT SCROLLBARR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #128C7E;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #075E54;
}

/* *************************** */

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.background-top {
    position: relative;
    height: 20vh;
    background-color: #128C7E;
}

.overlay-background-top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(61, 61, 61, .5);
}

.background-bottom {
    height: 80vh;
    /* background-color: #dadbd3; */
    background-color: #3d3d3d;
}

.chat-container {
    display: flex;
    height: 90%;
    min-height: 400px;
    width: 70%;
    min-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 5px #000;
}

/* LEFT COLUMN */
.left-column {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000;
}

/* ********************* */

.main-user-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
    /* background-color: #eaeaea; */
    background-color: #111214;
}

.main-user-avatar {
    width: 50px;
    height: 100%;
    /* padding: 7px 10px; */
}

.main-user-avatar img {
    height: 100%;
    /* padding: 7px; */
}

.main-user-bar-icons {
    display: flex;
    align-items: center;
}

.main-user-bar-icons a {
    margin-right: 15px;
}

.main-user-bar-icons a i {
    /* color: #b1b1b1; */
    color: #128C7E;
}

/* ************************ */

.mute-notifications-alert-bar {
    height: 70px;
    /* background-color: #8edafc; */
    background-color: #128C7E;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.mute-icon {
    flex: 0 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background-color: #f2fbff; */
    background-color: #DCF8C6;
    display: flex;
}

.mute-icon i {
    margin: auto;
    /* color: #8edafc; */
    color: #128C7E;
}

.mute-text {
    margin-left: 10px;
}

.mute-text p {
    /* color: #2b2b2b; */
    color: #DCF8C6;
    font-weight: 500;
    font-size: 12px;
}

.mute-text a {
    /* color: #4f7485; */
    color: #fff;
    font-size: 11px;
}

/* ********************** */

.friends-search-bar {
    position: relative;
    height: 40px;
    /* background-color: #fafafa; */
    background-color: #111214;
    padding: 7px 9px;
    box-shadow: 0px 2px 4px rgba(17, 18, 20, 0.86);
}

.search-bar {
    height: 100%;
    width: 100%;
    /* border: 1px solid #f5f5f5; */
    /* background-color: #fff; */
    background-color: #3d3d3d;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.search-bar input[type="search"] {
    border: none;
    height: 100%;
    width: 230px;
    background-color: #3d3d3d;
}

.search-bar input[placeholder] {
    color: #ffffff;
}

.search-bar i {
    color: #b1b1b1;
    font-size: 12px;
    padding: 0 7px;
}

/* ********************* */

#friends-list-container {
    height: calc(100% - 170px);
    /* background-color: #fff; */
    background-color: #111214;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #128C7E #111214;
}

.friend-container {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    height: 70px;
    width: 100%;
    background-color: #191919;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.friend-container:hover,
.friend-container.active {
    background-color: #292828;
}
/* .friend-left {
    height: 100%;
    display: flex;
    align-items: center;
} */

.friend-avatar {
    height: 50px;
}

.friend-avatar img {
    height: 100%;
}

/* .friend-description {
    height: 100%;
    padding: 5px 0 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.friend-info {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    height: 80%;
}

.name-and-time-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.friend-name {
    /* color: #505050; */
    color: #f1f1f1;
    font-weight: 500;
    line-height: 20px;
}

.chat-preview {
    font-size: 13px;
    /* color: #b6b9bb; */
    color: #828282;
}

.last-msg-time {
    line-height: 19px;
    font-size: 12px;
    /* color: #b6b9bb; */
    color: #787878;
}

/* RIGHT COLUMN */
.right-column {
    position: relative;
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
}

.no-chat-background {
    background-color: #111214;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-chat-background img {
    height: 40%;
    width: 40%;
    object-fit: contain;
}

h1 {
    font-weight: 500;
    font-size: 80px;
    color: #128c7e;
    padding-top: 10px;
}

.active-chat-container {
    height: 100%;
}

.active-chat-user-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #111214;
    padding: 10px;
    /* background-color: #eaeaea; */
    box-shadow: 0px 2px 4px rgba(17, 18, 20, 0.86);
    z-index: 2;
}

.active-chat-user-info {
    display: flex;
    align-items: center;
    height: 100%;
}

.user-text-info {
    display: flex;
    flex-direction: column;
}

.last-access {
    font-size: 13px;
    /* color: #b6b9bb; */
    color: #828282;
}

.user-avatar {
    width: 50px;
    height: 100%;
}

.user-avatar img {
    height: 100%;
}

.user-bar-icons {
    display: flex;
    align-items: center;
}

.user-bar-icons a {
    margin-right: 15px;
}

.user-bar-icons a i {
    /* color: #b1b1b1; */
    color: #128C7E;
}

/* history messages container */
.history-messages-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 120px);
    padding: 20px 50px 0px;
    position: relative;
    background: url('https://i.imgur.com/2nmRpTa.jpg') rgba(0,0,0,0.5);
    background-size: cover;
    background-blend-mode: multiply;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #128C7E #111214;
}

.overlay-history-messages-container { /* FIXME: l'overley segue lo scroll del container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .history-messages-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
} */

.templates-msgs {
    display: none;
}

.row-sent {
    display: flex;
    padding-bottom: 8px;
    justify-content: flex-end;
    /* z-index: 1; */
}

.row-received {
    display: flex;
    padding-bottom: 8px;
    /* z-index: 1; */
}

.msg-container {
    display: flex;
    align-items: center;
    min-height: 30px;
    height: auto;
    max-width: 500px;
    width: auto;
    border-radius: 5px;
    position: relative;
    /* overflow: hidden; */
}

.received {
    background-color: #3d3d3d;
}

.received-text {
    padding: 5px 30px 5px 10px;
    color: #f1f1f1;
    font-size: 14px;
}

.received-time {
    align-self: flex-end;
    padding: 0 5px 2px 0;
    font-size: 12px;
    color: #a6a6a6;
}

.sent {
    background-color: #075E54;
}

.sent-text {
    padding: 5px 30px 5px 10px;
    color: #f1f1f1;
    font-size: 14px;
}

.sent-time {
    align-self: flex-end;
    padding: 0 5px 2px 0;
    font-size: 12px;
    color: #a6a6a6;
}

i.msg-icon-options {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 10px 7px 30px;
    /* height: 100%; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.msg-icon-options-sent {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(7,94,84,0.8603641285615808) 50%, rgba(7,94,84,1) 100%);
}

.msg-icon-options-received {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(61,61,61,0.8603641285615808) 50%, rgba(61,61,61,1) 100%);
}

.msg-options-container {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    right: 5px;
    bottom: -130px;
    padding: 15px 0;
    background-color: #3d3d3d;
    z-index: 1;
    width: 180px;
    border-radius: 5px;
    color: #f1f1f1;
}

.msg-options-container div {
    width: auto;
    padding: 0 20px;
}

.msg-options-container div:hover {
    background-color: #333333;
}

/* write message bar */
.write-message-bar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    background-color: #111214;
    box-shadow: 0px -2px 4px rgba(17, 18, 20, 0.86);
    z-index: 2;
}

.emoji-choice i {
    color: #f1f1f1;
    font-size: 20px;
}

.write-message {
    padding: 0 20px;
    flex: 1 1 auto;
}

.write-message,
.write-message input[type="text"] {
    height: 100%;
}

.write-message input[type="text"] {
    border: none;
    border-radius: 50px;
    width: 100%;
    background-color: #3d3d3d;
    padding: 0 20px;
}

.write-message input[placeholder] {
    color: #fff;
}

.record-audio {
    width: 20px;
}

.record-audio i {
    color: #f1f1f1;
    font-size: 20px;
    cursor: pointer;
}

.sent-msg {
    display: none;
    width: 20px;
}

.sent-msg i {
    color: #f1f1f1;
    font-size: 20px;
    cursor: pointer;
}
